@namespace Paganod.Web.Client.Shared.Components.Container

@using Paganod.Web.Client.Store.SchemaUseCase;

<table>

</table>

<!-- Provide Columns -->

<!-- Provide a Func that returns IEnumerable -->

<!-- Provide the child content for the table -->