@page "/settings"

@inherits FluxorComponent

<p>Settings</p>


<p> App Db Type:</p>
<select>
    <option>Sqlite</option>
</select>

<p>App Db Connection String</p>
<input type="text" />


<p> Records Db Type:</p>
<select>
    <option>Sqlite</option>
</select>

<p>Records Db Connection String</p>
<input type="text" />


