@namespace Paganod.Web.Client.Shared.Layout

@inherits ComponentBase

@layout MainLayout

<div class="container">
    <div class="section-title">
        <p>@TitleText</p>
    </div>

    <div class="section-content p-2">
        @ChildContent
    </div>
</div>